<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserAdverts</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
<h3 style="text-align: center" th:text="'List our adverts, ' + ${owner.name}"></h3>
<div class="container">
    <table class="table table-striped, table-bordered" id="adverts">
        <thead class="thead-dark">
        <tr style="text-align: center">
            <th style="width: 25%" scope="col">Car</th>
            <th style="width: 15%" scope="col">Price</th>
            <th style="width: 40%" scope="col">Photo</th>
            <th style="width: 20%" scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="advert : ${adverts}">
            <td><p th:text="${advert.car.mark.markName} + ${advert.car.model.modelName}"></p></td>
            <td><p th:text="${advert.price}"></p></td>
            <td th:switch="${advert.imageName != ''}">
                <p th:case="${true}"><img th:src="@{/download(name=${advert.imageName})}" width="200px" height="150px"></p>
                <p th:case="*">No photo</p>
            </td>
            <td>
                <div th:switch="${advert.status}">
                    <p th:case="${true}">Sales</p>
                    <p th:case="*">On sale</p><br><br>
                </div>
                <button type="button" class="btn btn-dark" th:id="advert + ${advert.id}"
                        th:onclick="'javascript:updateStatus(' + ${advert.id} + ', ' + ${advert.owner.id} + ')'">Change status</button>
                <script>
                    function updateStatus(id, userId) {
                        $.ajax({
                            type: 'POST',
                            url: "./update/" + id + "/" + true + "/owner/" + userId,
                            success: function (data) {
                                location.reload();
                            }
                        })
                    }
                </script>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group row">
    <label class="col-form-label col-sm-1" style="font-weight: 900"></label>
    <div class="col">
        <button id="add" type="button" class="btn btn-dark"
                th:onclick="'javascript:redirectAddAdvert(' + ${owner.id} + ')'">Add new advert</button>
    </div>
    <script>
        function redirectAddAdvert(findUserId) {
            setTimeout(function () {
                window.location.href = "./add/" + findUserId;
            }, 1000);
        }
    </script>
    <div class="col-sm-9">
        <button id="return" type="button" class="btn btn-dark"
                th:onclick="'javascript:returnStartPage()'">Log out</button>
    </div>
    <script>
        function returnStartPage() {
            setTimeout(function () {
                window.location.href = "./logout";
            }, 1000);
        }
    </script>
</div>
</body>
</html>