<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Adverts</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    .account {
        position: fixed;
        right: 1px;
        top: 1px;
    }
</style>
<body>
<script>
    function showWithPhoto() {
        let selector = $("#fPhoto");
        if (selector.prop("checked")) {
            document.location.href = "./withphoto";
        } else {
            document.location.href = "./";
        }
    }

    function showLastDay() {
        let selector = $("#lDay");
        if (selector.prop("checked")) {
            document.location.href = "./lastday";
        } else {
            document.location.href = "./";
        }
    }
</script>
<script>
    function enter() {
        window.location.href = "./authorization";
    }
</script>
<div class="container">
    <div class="form-inline">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="lDay" name="lDay"
                   id="lDay" onchange="showLastDay()" th:checked="${day}">
            <label class="form-check-label" for="lDay" style="font-weight: 900">Show last day</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="fPhoto" name="fPhoto"
                   id="fPhoto" onchange="showWithPhoto()" th:checked="${photo}">
            <label class="form-check-label" for="fPhoto" style="font-weight: 900">Show with photo</label>
        </div>
        <label class="col-form-label col-sm-2" for="mark" style="font-weight: 900">Show cars mark</label>
        <div class="col">
            <select class="custom-select" id="mark" name="mark">
                <option th:value="${setMark}" th:text="${setMark}" th:selected="mark==setMark"></option>
                <option value="Toyota">Toyota</option>
                <option value="Mercedes">Mercedes</option>
                <option value="Renault">Renault</option>
                <option value="Kia">Kia</option>
                <option value="Volvo">Volvo</option>
                <option value="Mazda">Mazda</option>
            </select>
            <script>
                $(".custom-select").change(function () {
                    let selectMark = document.getElementById("mark").value;
                    if (selectMark !== '') {
                        document.location.href = "/marks/" + selectMark;
                    }
                });
            </script>
        </div>
    </div>
    <div class="account">
        <button id="add" type="button" class="btn btn-outline-dark" onclick="enter()">Add</button>
    </div>
</div>
<div class="container">
    <table class="table table-striped, table-bordered" id="allAdverts">
        <thead class="thead-dark">
        <tr align="middle">
            <th scope="col">Car</th>
            <th scope="col">Price</th>
            <th scope="col">Seller</th>
            <th scope="col">Photo</th>
            <th scope="col">Date add</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody >
            <tr th:each = "advert : ${adverts}">
                <td>
                    <p th:text="${advert.car.mark.markName} + ${advert.car.model.modelName}"></p><br>
                    <button th:id="${advert.id}" th:onclick="'javascript:showInfoCar(' + ${advert.car.id} + ')'"
                            type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#carInfo">Details</button>
                </td>
                <script>
                    function showInfoCar(id) {
                        $.ajax({
                            type: 'POST',
                            url: './cars/' + id,
                            dataType: 'json',
                            success: function (data) {
                                addCarInfo(data);
                            }
                        })
                    }

                    function addCarInfo(data) {
                        let car = data;
                        document.getElementById("infoLabel").innerHTML = car.mark.markName + "\n" + car.model.modelName;
                        let result = "<tr><td>Mile age, km</td><td>" + car.mileAge + "</td></tr>";
                        result += "<tr><td>Date created</td><td>" + car.created + "</td></tr>";
                        result += "<tr><td>Gear box</td><td>" + car.transmission.gearBox + "</td></tr>";
                        result += "<tr><td>Gear type</td><td>" + car.transmission.gearType + "</td></tr>";
                        result += "<tr><td>Car body type</td><td>" + car.carBody.type + "</td></tr>";
                        result += "<tr><td>Car body color</td><td>" + car.carBody.color + "</td></tr>";
                        result += "<tr><td>Count door</td><td>" + car.carBody.countDoor + "</td></tr>";
                        result += "<tr><td>Engine volume, l</td><td>" + car.engine.volume + "</td></tr>";
                        result += "<tr><td>Engine power, hp</td><td>" + car.engine.power + "</td></tr>";
                        result += "<tr><td>Engine type</td><td>" + car.engine.engineType + "</td></tr>";
                        document.getElementById("info").innerHTML = result;
                    }
                </script>
                <td th:text="${advert.price}"></td>
                <td><p th:text="${advert.owner.name}"></p><br>
                    <button th:id="user + ${advert.id}" type="button"
                            th:onclick="'javascript:showInfoUser(' + ${advert.owner.id} + ')'"
                            class="btn btn-primary" data-toggle="modal"
                            data-target="#userInfo">Details</button>
                    <script>
                        function showInfoUser(id) {
                            $.ajax({
                                type: 'POST',
                                url: './users/' + id,
                                dataType: 'json',
                                success: function (data) {
                                    addUserInfo(data);
                                }
                            })
                        }

                        function addUserInfo(data) {
                            let user = data;
                            document.getElementById("userInfoLabel").innerHTML = user.name;
                            let result = "<tr><td>Phone</td><td>" + user.phone + "</td></tr>";
                            result += "<tr><td>Address</td><td>" + user.address + "</td></tr>";
                            document.getElementById("userTable").innerHTML = result;
                        }
                    </script>
                </td>
                <td th:switch="${advert.imageName != ''}">
                    <p th:case="${true}"><img th:src="@{/download(name=${advert.imageName})}" width="200px" height="150px"></p>
                    <p th:case="*">No photo</p>
                </td>
                <td th:text="${advert.createdDate}"></td>
                <td th:switch="${advert.status}" style="font-weight: 900">
                    <p th:case="${true}">Sales</p>
                    <p th:case="*">On sale</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="carInfo" tabindex="-1" role="dialog" aria-labelledby="infoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped, table-bordered">
                    <tbody id="info">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userInfoLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped, table-bordered">
                    <tbody id="userTable">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>